{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="center">
  <div class="avatar-photo">
    <img src="{% static 'images/test_avatar.png' %}" alt="My image">
    <ul>
      <h3>Contact INFO</h3>
      <li><strong>Fullname</strong>: {{owner.first_name}} {{owner.last_name}}</li>
      <li><strong>Email</strong>: {{owner.email}}</li>
    </ul>
    <h3>Books this user owns</h3>
    <ul>
      {% for book in owner.books.all %}
      <li>{{book.title}}</td>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
