{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Book(s)</th>
    <th>Email</th>
  </tr>
  <tr>
  <td>{{owner.first_name}}</td>
  <td>{{owner.last_name}}</td>

  {% for book in owner.books.all %}
  <td>{{book.title}}</td>
  {% endfor %}

  <td>{{owner.email}}</td>
  </tr>
</table>
-->
<div class="center">
  <div class="avatar-photo">
    <img src="{% static 'images/test_avatar.png' %}" alt="My image">
  </div>
</div>
{% endblock content %}
